[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
asyncio = "*"
httpx = "*"
fastapi = "*"
supabase = "*"
python-dotenv = "*"
slack-sdk = "*"
uvicorn = "*"
loguru = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
